@import "font/bootstrap-icons.css";
@import "bootstrap.min.css";
@import "figma.css"; /* Using a string */

@font-face {
  font-family: Caveat;
  src: url(font/Caveat-VariableFont_wght.ttf)
}
@font-face {
  font-family: ReadexPro;
  src: url(font/ReadexPro-VariableFont_HEXP,wght.ttf)
}
@font-face {
  font-family: Inter;
  src: url(font/Inter-VariableFont_slnt\,wght.ttf)
}




.font-Caveat{
  font-family: "Caveat";
}
.font-ReadexPro{
  font-family: "ReadexPro";
}

a{
  text-decoration: none;
  color:var(--white100);
    padding: 6px 12px;
}
a.button-primary{
  text-decoration: none;
  color:var(--white100);
  text-decoration: underline;
}
a.button-secondary{
  border:1px solid var(--strock---grey20);
  padding:.5em; 
  /* color:#949494; */
  color:var(--strock---grey20);
  text-transform: none;
  text-decoration: none;
 }
 a.button-white {
  /* background-color: var(--black100); */
  border: 2px solid var(--white100);
  color:var(--black100);
  text-transform: uppercase;
  font-size: 14px;
 }
 a.button-black {
  font-size: 14px;
  background-color: var(--black100);
  border: 2px solid var(--black100);
  color:var(--white100); 
  letter-spacing: 0.05em;
  text-transform: uppercase;
 }
.flex-row-16{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}
.flex-column-16{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px;
  gap: 32px;
}
.gap-16{
  gap: 16px;
}
.gap-8{
  gap: 8px;
}
.gap-0{
  gap: 0;
}

.text-center{
  text-align: center;
}
/* Gobal End here */



/*Overwrite bootrap */

.container{
  padding: 1em;
}

.bg-dark{
  background-color:var(--black100)!important; /*Overwrite bootrap */
  color:var(--white100);
}
.bg-white{
  background-color:var(--white100)!important; /*Overwrite bootrap */
  color:var(--black100);
}
.bg-white p{
  color:var(--black100);
}
.content-white{
  color:var(--white100);
}
.content-black{
  color:var(--black100);
}
.container, .container-fulid {
  margin: auto;
}

/* Overwrite bootrap End */
/* Responsive */

/* Landscape */


@media (min-width: 512px) { 
   .container.contentmax, .container-fulid.contentmax{
    max-width: 512px;
    margin: auto;
  }
 }

html{
  font-family: 'ReadexPro',system-ui,  'Helvetica Neue';
}
body{
  background-color:var(--black100);
  font-family: 'ReadexPro';
  font-size: 16px;
  font-weight: 200;
}
p{
  margin: 0;
}
i{
  font-size: 2rem;
}

.text-color-grey2{
  color: #949494;
}
.align-center{
  text-align: center;
}
.content-vertical {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.content-vertical .box{
  min-height: 50px;
}


.header{
  color:var(--white100);
}
.hightlight{
  color:var(--white100);
}
.align-right{
  text-align: right;
}
/* CONTENT ------------------------------------------------- */

/* ManuInActive */
.ManuInActive .logo{
  height: 45px;
  width: auto;
}
button{
  border: 0;
}
.action-menu{
  cursor: pointer;
}
.action-menu:hover{
 color: #949494;
}
.action-menu:focus + .menu-collapse{
display:block;
}

.menu-collapse.none{
display: none;
}
.menu-collapse{
  display: block;
  background-color: var(--white100);
  gap:0px;
  padding: 0;
  animation: fadeIn 5s;
}
.menu-collapse a{
  color: var(--black100);
}
.menu-collapse .list{
  width: 100%;
  border-bottom: 1px solid var(--strock---grey20);
  align-items: flex-start;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;-self: stretch;
}
.menu-collapse  .title{
  font-family: Inter;
  font-weight: 200;
  width: 100%;
  align-items: flex-start;
  padding: 12px;
  text-transform: uppercase;
}
/* footer */
.footer{
  padding: 64px 16px;
}
.footer a{
  font-size: 0.75rem;
  padding: 0 .5em;
  text-transform: uppercase;
}
.footer p{
  font-size: 0.75rem;
}
/* End footer */

/* FeatureImage -------------------------------------------------*/
.FeatureImage{
  position: relative;
  max-width:100%;
}
.FeatureImage img.converttobg{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  object-fit: cover;
  z-index: -1;
}

.FeatureImage .Heroshot {
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4em;
  gap: 8px;
  z-index: 1;
}
.FeatureImage.CaptionOverlayImage .Heroshot{
  padding-bottom: 1em;
}
.FeatureImage .Heroshot .content{
  max-width: 390px;
  bottom:4em;
  left:0;
  right:0;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  padding-bottom: 2em;
}
.FeatureImage .Heroshot .title {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 30px;
  padding: 0 4rem;
}
.FeatureImage.CaptionOverlayImage .Heroshot .title{
  padding: 0 1rem;
  font-size: 20px;
  text-transform:none;
  font-weight: 100;
}
.FeatureImage .Heroshot .tag {
  font-size: 0.875rem;
  margin: 0;
}
.FeatureImage .caption{
  position: absolute;

  width: 100%;
  text-align: center;
  font-family: "Caveat";
  font-size: 24px;
  text-transform: uppercase;
}
.FeatureImage.CaptionOverlayImage .caption{
  top:2rem;
}

.FeatureImage .Heroshot .tag span {
  margin: 0 4px;
}
.FeatureImage .footer {
  text-align:center;
  font-size: 0.7rem;
  background-color: var(--black100);
  color: var(--white100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
}
.FeatureImage .footer p{
  flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--white100);
}
.FeatureImage .footer p.CopyRight{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.FeatureImage .footer p.ImageDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.FeatureImage .footer p span {
  margin: 0 4px;
}

/* End FeatureImage */

/* RecImage */
.RecImage img.img-square{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.RecImage .footer{
  text-align:center;
  font-size: 0.7rem;
  background-color: var(--black100);
  color: var(--white100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
}
.RecImage .footer p.ImageDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.RecImage .footer p span {
  margin: 0 4px;
}
/* VideoFeature */
.VideoFeature{
  position: relative;
  max-width:100%;
  height:540px;
  margin-bottom: 2em;
}

.VideoFeature{
  height:540px;
  width: 100%;
  
}

.VideoFeature[data-content]{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/85_1.2_50_1-50s_0_009337\ Large.png); */
  /* background-size: 390px 540px; */
}

.VideoFeature p{
  top: 28%;
  left:0;
  right:0;
  font-family: "Caveat";
  font-size:32px;
  text-transform: uppercase;
  padding: 1rem;
  position: absolute;
  text-align: center;
  font-size: 2rem;
  
}

/* Caption */

.Caption{
  margin: 2em 0;
}
.Caption .title{
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.Caption .desc{
  text-align: center;
}



/* CaptionThumbnailAlternative */
.CaptionThumbnailAlternative .frame{
  position: relative;
  height: 437px;
  padding-top: 2em;
  padding-left: 1em;
}

.CaptionThumbnailAlternative p.title{
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-right: 1em;;
}
.CaptionThumbnailAlternative.imgLeft img{
width: 265px;
height: 350px;
}
.CaptionThumbnailAlternative.imgLeft .content{
  position:absolute;
  width: 258px;
  left:1em;
  top:4em;
  margin-left: 93px;
}

.CaptionThumbnailAlternative.imgRight img{ 
  width: 265px;
  height: 350px;
  margin-left: 93px;

}
.CaptionThumbnailAlternative.imgRight .content{
  position:absolute;
  width: 258px;
  left:1em;
  top:4em;
}
